@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web');

html, body { margin: 0px; }

.intro {
    position: relative;
    height: 720px;
    background-image: url(resources/Petrified%20Bunting.jpg);
    background-color: #194466;
    background-size: cover;
    background-position: center;
}

.intro header {
    position: absolute;
    bottom: 0;
    width: 800px;
    padding: 2em calc(50% - 400px) 2em calc(50% - 400px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.page-title { font-size: 48px; }

.page-description { font-size: 24px; }

.page-author { font-size: 14px; }

.main {
    margin: 2em calc(50% - 400px) 2em calc(50% - 400px);
}

.main p {
    color: gray;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
}

.main img {
    width: 800px;
    border-radius: 10px;
}

.main video {
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.main h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}
